<dx-box direction="row" height="100%">
    <dxi-item [ratio]="1" [baseSize]="50">
        <div *dxTemplate>
            <dx-box direction="col" height="100%">
                <dxi-item class="box-item candles"  [ratio]="1" [baseSize]="500">
                    {{selectedStock}}
                    <app-test-candlesticks [symbol]="selectedStock"></app-test-candlesticks>
                </dxi-item>
                <dxi-item class="box-item quotes" [ratio]="1" [baseSize]="500"> QUOTES </dxi-item>
            </dx-box>
        </div>
    </dxi-item>
    <dxi-item class="box-item stocks"  [ratio]="1">
        <dx-data-grid [dataSource]= "stocks" keyExpr="symbol" [showBorders]="true" (onSelectionChanged)="selectRow($event)">
            <dxo-selection mode="single"></dxo-selection>
            <dxi-column dataField="currency" caption="Валюта"></dxi-column>
            <dxi-column dataField="figi" caption="FIGI"></dxi-column>
            <dxi-column dataField="symbol" caption="Тикер"></dxi-column>
            <dxo-search-panel [visible]="true"></dxo-search-panel>
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-paging [pageSize]="30"> </dxo-paging>
            <dxo-master-detail [enabled]="true" template="detail"></dxo-master-detail>
            <div *dxTemplate="let stock of 'detail'">
                <div class="master-detail-caption">{{
                    "Подробнее об акциях " + stock.data.description + ":"}}
                </div>
                <app-test-profile-detail [symbol]="stock.data.symbol"></app-test-profile-detail>
            </div>
        </dx-data-grid> 
    </dxi-item>
</dx-box>

<!-- banana box -->
<!-- делить экран на три части с помощью box -->
<!-- 2 date box, чтобы принимали дату и время, чарт candle stick добавить, пятиминутки выпадающим списком(из devextreme) -->
<!-- angular service pipe google it, пройтись циклом по приходящим данным, чтобы их принимал девэкстрим для отображения -->